.more-modal {
  .more-modal-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    li {
      padding-left: 0;
      margin-left: 0;
      justify-content: start;
      &:hover {
        background-color: $clr4;
        width: 100%;
      }
    }
  }
}
