.more-modal {
  background-color: antiquewhite;
  .more-modal-list {
    display: flex;
    flex-direction: column;
    li {
      padding-left: 0;
      justify-content: start;

      //   padding: 5px;
    }
  }
}
