.tools-bar {
  position: relative;
  background-color: antiquewhite;
  ul {
    margin-block: 5px;
    li {
      display: flex;
      align-items: center;
      margin-inline-start: 15px;
      cursor: pointer;
      i {
        font-size: 20px;
        /* color: $clr5;  */
      }
    }
  }
}
