.tools-bar {
  position: relative;
  ul {
    margin-block: 5px;
    li {
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline-start: 15px;
      cursor: pointer;
      i {
        font-size: 14px;
        color: $clr5;
      }
    }
  }
}
