.app-layout {
  display: grid;
  grid-template-columns:
    minmax(40px, 1fr)
    minmax(auto, 1280px)
    minmax(40px, 1fr);

  > * {
    grid-column: 2;
  }

  > *.full {
    grid-column: 1 / -1;
  }

  // @include for-mobile-layout {
  //   @include layoutGTC(1fr, $layoutPaddingMobile);
  // }

  // @include for-tablet-layout {
  //   @include layoutGTC(1fr, $layoutPaddingTablet);
  // }

  // @include for-narrow-layout {
  //   @include layoutGTC(1fr, $layoutPaddingNarrow);
  // }

  // @include for-normal-layout {
  //   @include layoutGTC(1fr, $layoutPaddingNormal);
  // }

  // @include for-wide-layout {
  //   @include layoutGTC(1fr, $layoutPaddingWide);
  // }
}
