.btn-prepare-note {
  // background-color: aquamarine;
  height: 46px;
  padding: 10px 20px;
  h3 {
    margin: 0;
    font-size: 18px;
  }

  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        padding: 6px;
        font-size: 20px;
      }
    }
  }
}
