.btn-prepare-note {
  // background-color: aquamarine;
  height: 46px;
  padding: 10px 20px;
  h3 {
    width: 100%;
    text-align: start;
    margin: 0;
    font-size: 18px;
    color: $clr5;
  }

  ul {
    li {
      margin-inline-start: 25px;
      display: flex;
      align-items: center;
      i {
        font-size: 20px;
        color: $clr5;
      }
    }
  }
}
