.note-list {
  // column-count: 6;
  gap: 20px;
  margin-inline-start: 50px;

  @include for-mobile-layout {
    column-count: 2;
  }

  @include for-tablet-layout {
    column-count: 2;
  }

  @include for-narrow-layout {
    column-count: 3;
    background-color: rgb(243, 170, 74);
  }

  @include for-normal-layout {
    background-color: antiquewhite;
    column-count: 4;
  }

  @include for-wide-layout {
    background-color: rgb(144, 141, 234);
    column-count: 6;
  }

  @include for-extra-wide-layout {
    background-color: rgb(216, 141, 234);
    column-count: 6;
  }
}
