.prepare-draw-note {
  .canvas-tools {
    // background-color: aqua;

    button {
      border: 1px solid $clr5;
      border-radius: 0.4em;
      padding: 5px;
      margin: 5px;
      i {
        color: $clr5;
        font-size: 18px;
      }
    }
  }
}
