.prepare-draw-note {
  .canvas-tools {
    // background-color: aqua;
    i {
      font-size: 18px;
      border: 1px solid $clr3;
      border-radius: 0.4em;
      padding: 5px;
      color: $clr4;
    }
  }
}
