article.note-card {
  max-width: 300px;
  break-inside: avoid-column;
  margin-block-end: 20px;
  border: 1px solid $clr4;
  border-radius: 0.8em;
  gap: 20px;
  padding: 20px 20px 5px;
  font-size: 14px;
  text-align: start;

  .tools-bar {
    transition: opacity 0.4s ease-out;
    opacity: 0;
  }
  &:hover {
    box-shadow: 0 0 4px 0px;

    .tools-bar {
      opacity: 1;
    }
  }
}
