article.note-card {
  position: relative;
  max-width: 300px;
  break-inside: avoid-column;
  margin-block-end: 20px;
  border: 1px solid $clr4;
  border-radius: 0.8em;
  gap: 20px;
  padding: 20px 10px;

  &:hover {
    box-shadow: 0 0 4px 0px;
  }
}
