.main-layout {
  display: grid;
  grid-template-columns:
    minmax(2rem, 1fr)
    minmax(auto, 1400px)
    minmax(2rem, 1fr);
}

.App.main-layout {
  min-height: 100vh;
  grid-template-rows: auto, 1fr, auto;
}

.main-layout > .full {
  grid-column: 1/-1;
}

@media (max-width: 640px) {
  .main-layout > * {
    grid-column: 1/-1;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
  }
}

@media (min-width: 640px) {
  .main-layout > * {
    grid-column: 2;
  }
}
