.side-bar {
  transition: transform 1.4s ease-out;
  position: absolute;
  background-color: #fff;
  z-index: 10;

  ul {
    min-height: 100vh;

    li {
      margin-block: 30px;
      .side-bar-icon {
        color: $clr5;
      }
      h3 {
        // display: none;
        transform: scale(0);
      }

      &.active {
        background-color: #fdefc3;
        border-radius: 0 1em 1em 0;
      }

      &:hover:not(.active) {
        background-color: $clr3;
        border-radius: 0 1em 1em 0;
      }
    }

    &:hover {
      border-right: $main-border;
      box-shadow: 7px 6px 5px -5px grey;
      h3 {
        // display: block;
        transform: scale(1);
        font-size: 20px;
        margin: 0;
        margin-inline-start: 30px;
        margin-inline-end: 100px;
      }
    }
  }
}
