.user-msg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 40px;
  border: $main-border;
  box-shadow: $main-box-shadow;
  background-color: #fa8383;
  display: flex;
  align-items: center;
  justify-content: center;
}
