.search-by-type {
  padding: 0;
  border: $main-border;
  box-shadow: $main-box-shadow;
  margin-block: 20px;
  color: #fff;
  height: 20vh;
  h2 {
    margin: 0;
    text-align: start;
  }
  li {
    background-color: #2073e8;
    width: 25%;
    height: 100px;
    margin: 10px;
    justify-content: end;
    h3 {
      margin: 0;
    }
    i {
      margin-bottom: 40px;
    }
  }
}
