.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding-left: 0px;
  margin-block: 2rem;
}

.preview-book {
  text-align: start;
}

.tools-box {
  margin-block: 0.8rem;
}

.tools-box .btn-tools-box {
  background-color: var(--bgc-btn-card);
  padding: 8px 15px;
  margin-inline-start: 1rem;
  color: aliceblue;
}

.tools-box .btn-tools-box:hover {
  background-color: var(--bgc-btn-card-hover);
}

@media (max-width: 640px) {
  .book-list {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .tools-box button {
    width: 20px;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  .tools-box button.btn-remove {
    border: none;
    background: none;
    min-width: 20px;
  }
}
